# Ansible gathered log from target system

{% if uname_result["cmd"] is defined %}
## {{ uname_result["cmd"] }} output:
    {{ uname_result["stdout"] }}
{% endif %}


{% if cpu_result["cmd"] is defined %}
## {{ cpu_result["cmd"] }} output:
    {{ cpu_result["stdout"] }}
{% endif %}


{% if memory_result["cmd"] is defined %}
## {{ memory_result["cmd"] }} output:
    {{ memory_result["stdout"] }}
{% endif %}


{% if network_result["cmd"] is defined %}
## {{ network_result["cmd"] }} output:
    {{ network_result["stdout"] }}
{% endif %}


{% if mount_result["cmd"] is defined %}
## {{ mount_result["cmd"] }} output:
    {{ mount_result["stdout"] }}
{% endif %}


{% if storage_result["cmd"] is defined %}
## {{ storage_result["cmd"] }} output:
    {{ storage_result["stdout"] }}
{% endif %}


{% if ws_errorlog_result["cmd"] is defined %}
## {{ ws_errorlog_result["cmd"] }} output:
    {{ ws_errorlog_result["stdout"] }}
{% endif %}


{% if db_log_result["cmd"] is defined %}
## {{ db_log_result["cmd"] }} output:
    {{ db_log_result["stdout"] }}
{% endif %}
